<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>NetScaler</title>
</head>
<body>
{% comment %} {% include "barra_navegacion.html" %} {% endcomment %}
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark pl-5 pr-5">
    <div class="container">
    <a class="navbar-brand" href="">NetScaler</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="">Home </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="">Lista de VIPs </a>
        </li>
        {% comment %} <li class="nav-item active">
          <a class="nav-link" href="">menu2 </a>
        </li> {% endcomment %}
        
      </ul>
      {% comment %} <form class="form-inline mt-2 mt-md-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Buscar</button>
      </form> {% endcomment %}
       <ul class="navbar-nav  text-left">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{user.username}} | Configuraci&oacute;n
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% comment %} 
                <a class="dropdown-item" href="#">Perfil</a>
                <a class="dropdown-item" href="#">Vista</a>
                <div class="dropdown-divider"></div> {% endcomment %}
                <a class="dropdown-item" href="{% url 'logout' %}">Salir</a>
                </div>
            </li>
        </ul>  
    </div>
    <div>
  </nav> 
    <br>
    <br>
    <main class="py-4">
        {% comment %} <div class="container">
            <div class="row justify-content-center">
                <form method="GET" action="http://127.0.0.1:8000/home" accept-charset="UTF-8" class="form-inline">
                    <div class="form-group mb-2"><select name="state_id" class="form-control"></select></div>
                    <div class="form-group mx-sm-3 mb-2"><input placeholder="Nombre" name="name" type="text"
                            class="form-control"></div>
                    <div class="form-group"><button type="submit" class="btn btn-primary mb-2">Buscar
                            <span class="glyphicon glyphicon-search"></span></button></div>
                </form>
                <form method="POST" action="http://127.0.0.1:8000/vpx" accept-charset="UTF-8"
                    class="form-inline ml-1 mb-2"><input name="_token" type="hidden"
                        value="CftnrZ7D4aB2dKR6azvmwkRcy4O70sIICd0Pvc6L">
                    <div class="form-group"><input type="submit" value="Actualizar" class="btn btn-primary"></div>
                </form>
            </div> {% endcomment %}
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nombre VIP</th>
                                <th scope="col">Estado</th>
                                {% if perms.ns.change_vpx %}
                                <th scope="col">Acción</th>
                                {% endif %} 
                            </tr>
                        </thead>
                        <tbody>
                        {% for dato1 in lbvserver2 %}                                                    
                          <tr>
                          <th scope="row">{{dato1.id}}</th>
                            <td>{{dato1.name}}</td>
                            <td>{{dato1.effectivestate}}</td>
                            <td>
                            {% if perms.ns.change_vpx %}
                                <a href="{% url 'reinicio' id_reinicio=dato1.name id_user=user.username%}" class="btn btn-primary btn-sm">Reiniciar</a> 
                            {% endif %}
                            </td>
                          </tr>
                         {% endfor %}
                        </tbody>
                    </table> <br>
                </div>
            </div>
        </div>
    </main>
      <br>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</body>
</html>